body {
    margin: 0;
    padding: 0;
}

.background-image h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(188, 217, 252);
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.background-image {
    background-image: url(./content/000012370007.jpg);
    background-repeat: no-repeat;
    background-position: 0px -250px;  
    background-size: cover;
    height: 100vh;
}





